@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <NavMenu />

    <main style="padding: 15px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
