@page "/CreateActivity"

<div style="display: flex; justify-content: center; align-items: center;">
    <MudPaper Style="width: 70%; padding: 20px" Elevation="4">
        <ActivityForm CreateMode="true" />
    </MudPaper>
</div>
