@page "/"

@inject ActivitiesService ActivitiesService

<PageTitle>Clean Activities</PageTitle>

<div style="display: flex; align-content: center; text-align: center; margin-bottom: 10px">
    <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Large" Style="margin-right: 25px"/>
    <MudText Typo="Typo.h4">Clean Activities</MudText>
</div>

<ActivityDashboard Activities="_activities"/>

@code {
    private IEnumerable<ActivityDto>? _activities;

    protected override async Task OnInitializedAsync()
    {
        _activities = await ActivitiesService.GetActivities();        
    }
}