@page "/"

@inject ActivitiesService ActivitiesService

<PageTitle>CleanActivities</PageTitle>

<h1 class="d-inline-block"><MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Large"/> CleanActivities</h1>

<ActivityDashboard Activities="_activities"/>

@code {
    private IEnumerable<ActivityDto>? _activities;

    protected override async Task OnInitializedAsync()
    {
        _activities = await ActivitiesService.GetActivities();        
    }
}