<MudCard>
    <MudCardHeader Style="background-color: mediumaquamarine">
        <CardHeaderContent>
            <MudText Typo="Typo.body1" Style="text-align: center;">3 People Going</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent Style="display: flex; gap: 5px">
        <MudImage Src="/images/user.png" Height="50"/>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Info">Bob</MudText>
            <MudText Typo="Typo.body2" Color="Color.Warning">Following</MudText>
        </div>
    </MudCardContent>
    <MudDivider />
    <MudCardContent Style="display: flex; gap: 5px">
        <MudImage Src="/images/user.png" Height="50" />
        <div>
            <MudText Typo="Typo.body1" Color="Color.Info">Someone</MudText>
            <MudText Typo="Typo.body2" Color="Color.Warning">Following</MudText>
        </div>
    </MudCardContent>
    <MudDivider />
    <MudCardContent Style="display: flex; gap: 5px">
        <MudImage Src="/images/user.png" Height="50" />
        <div>
            <MudText Typo="Typo.body1" Color="Color.Info">Wojszcz</MudText>
            <MudText Typo="Typo.body2" Color="Color.Warning">Following</MudText>
        </div>
    </MudCardContent>
</MudCard>