@if (Activities is null || Activities.Count() <= 0)
{
    <h5>Sorry, cannot find any activities...</h5>
}
else
{
    @foreach (var activityGroupedByDate in _activitiesGroupedByDate)
    {
        @foreach(var activity in activityGroupedByDate)
        {
            <ActivityListItem Activity="@activity" />
        }
    }
}