<MudPaper Width="95%" Style="padding: 10px;">

    @if (_isLoading)
    {
        <div style="display: flex; justify-content: center;">
            <MudProgressCircular Size="Size.Large" Color="Color.Error" Indeterminate="true" />
        </div>
    }

    @if (_userFollowers is not null)
    {
        <div style="display: flex; gap: 20px; flex-wrap: wrap">
            @foreach (var userFollower in _userFollowers)
            {
                <Profile ProfileViewModel="userFollower" />
            }
        </div>
    }

</MudPaper>