<div style="display: flex; flex-direction: column; gap: 20px">
    <MudPaper Style="padding: 10px">
        <MudNavMenu>
            <MudNavGroup Icon="@Icons.Material.Filled.FilterList" Title="Filters" @bind-Expanded="_isExpanded">
                <MudNavLink OnClick="() => AllFilterSelected()">All activities</MudNavLink>
                <MudNavLink OnClick="() => IsGoingFilterSelected()">I'm going</MudNavLink>
                <MudNavLink OnClick="() => IsHostFilterSelected()">I'm hosting</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
    </MudPaper>
    @if(_isExpanded)
    {
        <MudDatePicker PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape" @bind-Date="Date"/>
    }
</div>
